---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Jovial Penguin">
  <div class="hero">
    <img src="/cover.png" alt="Jovial Penguin logo" />
    <h1>Jovial Penguin</h1>
  </div>
  <article>
    <p class="card">
      Jovial Penguin is a small web development studio based in Vancouver,
      Washington. We specialize in building fast, accessible, and secure
      web applications at a reasonable price. We also offer
      consulting services for existing projects.
    </p>

    <p class="card">
      We are currently not accepting new clients. If you are interested in
      working with us, please check back later. If you are looking for Jesse Pence's portfolio,
      please visit <a href="https://jessepence.com">jessepence.com</a>
    </p>
  </article>
</Layout>
